/** Global **/

body {
    /*padding-bottom: 10em;*/
    /*margin-top:70px;*/
}

header {
    background-color: #26264B;
}

.detailsShape {
    width: 60%;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    color: #fff;
}

.view-title {
    text-align: center;
}


/*** Top nav ***/

#navbarSupportedContent {
    padding-right: 20em;
}

.navbar {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

nav#topnav li {
    color: red;
}

.form-control {
    color: black;
    border: 2px solid black;
}

.errorMessage {
    color: black;
}

.hamburger {
    background-color:transparent;
    border:0;
    color:#fff;
    cursor:pointer;
    font-size:20px;
}

.hamburger:focus{
    outline:none;
}

/* Banner */

#banner {
    background-image: url(../../Content/images/pexels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 500px;
}

    #banner h1 {
        margin-top: 5em;
        color: black;
    }

    #banner p {
        color: black;
    }

.main {
    background-color: lightgray;
}

    .main h2 {
        text-align: center;
        padding-top: 2em;
    }

    .main p {
        text-align: center;
    }

.card {
    margin: 2em 9em;
}

    .card img {
        height: 200px;
        width: auto;
    }

/* Footer */

footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 15em;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}

    footer nav li {
        list-style: none;
        color: red;
    }

    footer .social a {
        margin: 0 2px;
        color: white;
        display: inline-flex;
        border: none;
    }

        footer .social a:hover {
            background-color: none;
        }

    footer h1 {
        color: #fff;
    }

    footer p {
        color: #fff;
    }
