/** Global **/

.navbar {
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;

}



.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    color: black;
    border: 2px solid black;
}

#branding {
    text-transform:uppercase;


}

.container {
}

/* Banner */

#banner {
    color: black;
    background-image: url(../../Content/images/pexels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
}

#registerText{
    padding-top:5%;
}

.main {
    background-color: lightgray;
}

    .main h2 {
        text-align: center;
        padding-top:2em;
    }
    .main p {
        text-align: center;
    }

.card {
    margin: 2em 9em;
}

.card img {
    height:200px;
    width:auto;
}