@{
    ViewBag.Title = "Contact StarMed Care of Colorado Springs";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>    
</hgroup>
<div>
    <p>
        Tell us how StarMed Care of Colorado Springs can deliver a Higher Standard of Care to you and your loved one or your business. To help us better serve you, please fill out the form below. One of our team members will get in touch with you right away.

        Or, call our office at (719) 867-5309 to get immediate assistance. No matter what time of day it is, we have a team of professionals standing by 24/7 to assist you and your family with your needs and answer your questions.

        We provide elder care, adult home care, child care, and medical staffing in the Colorado Springs area.
    </p>
    <address>
        414 Tia Juana Ave.<br />
        Suite 888 <br />
        Colorado Springs, CO 80909 <br />
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>