@{
    ViewBag.Title = "StarMed of Colorado";
}
<hgroup>
    <h1 style="text-align:center;">@ViewBag.Title</h1>
    @*<h3 style="text-align:center;">@ViewBag.Message</h3>*@
</hgroup>
<div class="row-fluid">
    <div class="col"></div>
    <div class="col">
        <p style="color:black; text-align:center;">Caring for a family member can be challenging. We know. We've been there. At StarMed Care, we strive to deliver just the right care for your loved one to be safe and healthy and to be a partner you can turn to for support.</p>
    </div>
    <div class="col"></div>
</div>
<div class="row-fluid">
    <div class="col"></div>
    <div class="col">
        <h2 style="text-align:center;">About Our Higher Standard of Care</h2>
        <p>At BrightStar Care of Colorado Springs, we believe that caring is more than just a job– it’s a way of life. That’s why our caregivers mean so much more to the people, families, and organizations they serve. BrightStar Care nurses, therapists, CNAs, and caregivers deliver professional and compassionate care in the comfort and familiarity of home. We are proud to provide a range of home care services to meet your loved one’s unique needs. From companionship, bathing, and hygiene assistance to in-home infusions and medication management, our professional care staff is available 24/7 to help when you need it most.</p>
    </div>
    <div class="col"></div>
</div>