@{ViewBag.Title = "StarMed | Home"; }

<section id="banner">
    <div class="container-fluid" id="registerText">
        <div class="row" >
            <div class="col-md-6 offset-2" >
                <h1>Search Current Positions On Our Job Board</h1>
                <p>Register now to gain access to current job listings and offers!</p>
                <a href="/Account/Register" target="_top" class="btn btn-primary">Register Now!</a>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="col-md-12">
        <h2>Looking to get hired faster and more efficiently?</h2>
        <p>Register and submit your updated resume today!</p>
    </div>
    <br />
    <div class="row">
        <div class="card col">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/800px_COLOURBOX2339648.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Complimentary In-Home Assessment</h5>
                        <p class="card-text">Call us today to schedule a care assessment and conversation with a StarMed Care Registered Nurse.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card col">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/800px_COLOURBOX2339648.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Careers at StarMed Care</h5>
                        <p class="card-text">Looking to make a difference in people's lives? At BrightStar Care you can do that every day.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/800px_COLOURBOX2339648.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Join the Best and Brightest in Home Care</h5>
                        <p class="card-text">Deliver higher quality care. Develop deeper client relationships. Do it all backed by a culture of support. Discover powerful home care career opportunities. </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card col">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/800px_COLOURBOX2339648.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Companion Care for Seniors</h5>
                        <p class="card-text">At Starmed Care of Colorado Springs, our senior companion care services focus on improving the health and well-being of your aging loved ones so they can get the most out of life. </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

@*<section>
    @* This is where my job search section will go *@
@*</section>
    <br />
    <section>
        <h1 id="title"> Current Job Listings </h1>
        <br />
       <div class="container-fluid">
           <div class="container" id="main">
               <div class="box special">
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Nurse, Caregiver</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse, Caregiver</p>
                               <a href="" target="_top" class="btn btn-primary">more...</a>
                               <a href="" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Certified Nursing Assistant (CNA)</h5>
                           <div class="card-body">
                               <p>This is the description of the Certified Nursing Assistant (CNA)</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Medical Assistant</h5>
                           <div class="card-body">
                               <p>This is the description of the Medical Assistant</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                               <a href="#" target="_top" class="btn btn-primary">Apply</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Licensed Practical Nurse (LPN)</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse Practitioner</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Sitter, Nanny</h5>
                           <div class="card-body">
                               <p>This is the description of the Sitter, Nanny</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Therapist</h5>
                           <div class="card-body">
                               <p>This is the description of the Therapist</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Nurse, Caregiver</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse, Caregiver</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Nurse, Caregiver</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse, Caregiver</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Nurse, Caregiver</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse, Caregiver</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="card col-md-12 col-sm-12">
                           <img class="card-img-top" src="#" alt="card image cap" />
                           <h5 class="card-title">Nurse, Caregiver</h5>
                           <div class="card-body">
                               <p>This is the description of the Nurse, Caregiver</p>
                               <a href="#" target="_top" class="btn btn-primary">more...</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>

    </section>*@

