@model StarMed.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "StarMed | User Details";
    ViewBag.Message = "User Details";
}
<hr />

<h2 style="text-align:center;">@ViewBag.Message</h2>
<br />
<br />
<div class="row">    
    <div class="col offset-3">
        <h4>User Name:</h4>
        @Html.DisplayFor(model => model.UserName)
    </div>
    <div class="col">
        <h4>User Role(s):</h4>
        @foreach (var item in ViewBag.RoleNames)
        {
            @item
        }
        @if (ViewBag.RoleNames.Count == 0)
        {            
            <p>No roles found for this user.</p>
        }
    </div>
</div>
<div class="row">    
    <div class="col offset-3"></div>
    <div class="col"></div>
</div>

<p style="text-align:center;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>